/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', 'Helvetica Neue', cursive;
    box-sizing: border-box;
    overflow-y: hidden;
  }
  body::-webkit-scrollbar{
    display: none;
  }
  /* .tablecontainer::-webkit-scrollbar {
    display: none;
  } */


  .tablecontainer::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */

  }
  
  .ellipsis:hover{
    color: #03AF9F;
    cursor: pointer;
    background-color: transparent;
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }
  .tablecontainer::-webkit-scrollbar-thumb {
    background-color: #03AF9F;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  }



  .drawercontainer::-webkit-scrollbar {
    display: none;
  }

  .flatpickr
  {

    height: 45px;
    width: 100%;
    padding: 2.5vh;
    margin: 0;
    /* padding: 0%; */
    border: 1px solid #ccc;
    border-radius: 1vh;
    /* background-color: red; */
  }
  .flatpickr:focus
  {
    border-color: none;
    box-shadow: 0 0 10px rgba(3, 175, 159, 0.5);

  }

  /* table::-webkit-scrollbar {
    display: none;
  } */

  
  /* globals.css */
* {
    box-sizing: border-box;
  }
  .pagelogo
  {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .loginlogo
  {
    width: 250px;
  }
/* yourStyles.module.css */
.loginimg{
  height: 100vh;
  width: 50vw;
}
.customInput:focus {
    box-shadow: 0 0 10px rgba(3, 175, 159, 0.5); /* #03AF9F with some opacity */
    /* Add other styles for focused state if needed */
  }

  .forget
  {
    display:flex;
     flex-direction: row;
     justify-content: space-between;
  }
  @media only screen and (max-width: 1021px) {
    .forget {
      flex-direction: column;
    }
  }

  .button
  {
    width: 14vw;
    height: 7vh;
    margin-top: 5vh;
  }
  .input {
    height: 50px !important;
    margin-top: 1.5vh !important;
    margin-bottom: 2vh !important;
    border-radius: 14px !important;
    border: 1px solid #cbd5e0 !important; /* Add border color as needed */
    padding: 0.75rem !important; /* Adjust padding as needed */
    font-size: 1rem !important; /* Adjust font size as needed */
    width: 100% !important; /* Ensures the input takes up the full width of its container */
  
    /* Add other styles as needed */
  
    &:focus {
      box-shadow: 0 0 10px rgba(3, 175, 159, 0.5) !important;
      /* Add other styles for focused state if needed */
    }
  }
  /* .flexbox
  {
    flex-direction: column;
  } */

  @media only screen and (max-width: 951px) {
    .input {
      height: 6vh !important;
    }
  }
  .container
  {
    width: 50vw !important;
    padding: 3% 15% 10% 16% !important;
    /* margin-top: 5vh; */
  }
  @media only screen and (max-width: 800px) {
    .flexbox{
      flex-direction: column;
    } 
    .loginimg
    {
      width: 100vw;
    }
    .secbox
    {
      width: 100vw;
    }
    .button
    {
      width: 50vw;
      margin-bottom: 5vh;
    }
  }

  .anychart-credits
  {
    display: none;
  }

  #ac_path_239c65db_10
  {
    fill: yellow !important;
  }

  .heading
  {
    font-size: 2.8rem;
    font-style: normal;
    color: #0B393E;
    font-weight: 700;
    line-height: normal;
  }
 
  .css-3xsu72
  {
    background: #ffcc24 !important;
    width: 13rem !important;
    margin-top: 7px;
    border-radius: 10px;
  }
  
