/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', 'Helvetica Neue', cursive;
    box-sizing: border-box;
    overflow-y: auto;
    /* background-color: ; */
  }
  body::-webkit-scrollbar{
    display: none;
  }
  /* .tablecontainer::-webkit-scrollbar {
    display: none;
  } */


  .tablecontainer::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */

  }
  .text-selected:active{
    box-shadow: 0 0 10px rgba(3, 175, 159, 0.5);
    border:1px solid #0D7A79 !important;
  }
  .text-selected:focus{
    box-shadow: 0 0 10px rgba(3, 175, 159, 0.5);
    border:1px solid #0D7A79 !important;
  }
  .css-1kfu8nn{
    width: 0 !important;
    size: 10px;
    border: 1px solid #ccc !important;
    /* height: 200px !important; */
  }
  .ellipsis:hover{
    color: #03AF9F;
    cursor: pointer;
    background-color: transparent;
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }
  .tablecontainer::-webkit-scrollbar-thumb {
    background-color: #03AF9F;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  }



  .drawercontainer::-webkit-scrollbar {
    display: none;
  }

  .active{
    border-right: none !important;
    border: none !important;
    border:1px solid #03AF9F !important;
    outline: none !important;
      }
      .text-select{
        background-color: white;
        border: "1px solid #ccc";
        /* margin-left: px; */
        height: 38px;
      }
      .flatpickr
      {
    border: "1px solid #ccc";
        /* height: 45px; */
        width: 100%;
        color: #03AF9F;
        padding: 8px 10px 8px 40px;
        margin: 0;
     border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
      }
      .flatpickr::placeholder{
        color: #03AF9F;
        font-family: "poppins";
      }
      .flatpickr:focus
      {
        border-right: none;
        box-shadow: 0 0 10px rgba(3, 175, 159, 0.5);
      }
      .flatpickr:active
      {
        border-right: none;
        box-shadow: 0 0 10px rgba(3, 175, 159, 0.5);
      }
      .datepicker-container:active{
        box-shadow: 0 0 10px rgba(3, 175, 159, 0.5);
      }
      .datepicker-container:focus{
        box-shadow: 0 0 10px rgba(3, 175, 159, 0.5);
      }
    .datepicker-container{
     /* background: white; */
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      /* align-items: center; */
    }
    .flatpickr-custom-position {
      position: absolute;
      bottom: 0;
      /* right: 100%;  */
      transform: translateX(-50%);
      /* or */
      /* right: 0; */ /* Right */
    }

  /* table::-webkit-scrollbar {
    display: none;
  } */

  
  /* globals.css */
* {
    box-sizing: border-box;
  }
  .pagelogo
  {
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .loginlogo
  {
    width: 250px;
  }
/* yourStyles.module.css */
.loginimg{
  height: 100vh;
  width: 50vw;
}
.customInput:focus {
    box-shadow: 0 0 10px rgba(3, 175, 159, 0.5); /* #03AF9F with some opacity */
    /* Add other styles for focused state if needed */
  }

  .forget
  {
    display:flex;
     flex-direction: row;
     justify-content: space-between;
  }
  @media only screen and (max-width: 1021px) {
    .forget {
      flex-direction: column;
    }
  }

  .button
  {
    width: 14vw;
    height: 7vh;
    margin-top: 5vh;
  }
  .input {
    height: 50px !important;
    margin-top: 1.5vh !important;
    margin-bottom: 2vh !important;
    border-radius: 14px !important;
    border: 1px solid #cbd5e0 !important; /* Add border color as needed */
    padding: 0.75rem !important; /* Adjust padding as needed */
    font-size: 1rem !important; /* Adjust font size as needed */
    width: 100% !important; /* Ensures the input takes up the full width of its container */
  
    /* Add other styles as needed */
  
    &:focus {
      box-shadow: 0 0 10px rgba(3, 175, 159, 0.5) !important;
      /* Add other styles for focused state if needed */
    }
  }
  /* .flexbox
  {
    flex-direction: column;
  } */

  @media only screen and (max-width: 951px) {
    .input {
      height: 6vh !important;
    }
  }
  .container
  {
    width: 50vw !important;
    padding: 45px 30px 30px 50px!important;
    /* margin-top: 5vh; */
  }
  @media only screen and (max-width: 800px) {
    .flexbox{
      flex-direction: column;
    } 
    .loginimg
    {
      width: 100vw;
    }
    .secbox
    {
      width: 100vw;
    }
    .button
    {
      width: 50vw;
      margin-bottom: 5vh;
    }
  }

  .anychart-credits
  {
    display: none;
  }

  #ac_path_239c65db_10
  {
    fill: yellow !important;
  }

  .heading
  {
    font-size: 2.8rem;
    font-style: normal;
    color: #0B393E;
    font-weight: 700;
    line-height: normal;
  }
 
  .css-3xsu72
  {
    background: #ffcc24 !important;
    width: 12rem !important;
    height: 10px !important;
    /* margin: auto !important; */
    margin-top: 7px;
    border-radius: 10px;
  }
  
  .Reports{
    width: 100%;
    /* background-color: #0B393E; */
    display: flex ;
    justify-content: start;
  }
  .ReportsSection{
    width: 100%;
    /* background-color: #03AF9F; */
    margin-top: 1rem;
    padding: 0 2px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
  }
  .filter-text{
    font-size: 1rem;
    font-weight: 500;
    transform: translateY(4px);
    line-height: normal;
    font-family: "poppinsmed";
  }

  .flatpickr-goal
  {
border: "1px solid #ccc";
    /* height: 45px; */
    width: 100%;
    /* padding: 2.5vh; */
    padding: 8px 10px 8px 47px;
    margin: 0;
 border-right: none;
display: flex;
justify-content: center;
align-items: center;
  }


  /* //success animation  */
  @keyframes circleAppear {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes tickAppear {
    0% {
    
      transform: scale(0);
    }
  
    100% {
   
      transform: scale(1);
    }
  }

  @media screen and (max-width: 930px){
    .ReportsSection{
      width: 100%;
      /* background-color: #03AF9F; */
      margin-top: 1rem;
      padding: 0 2px;
      display: flex ;
      flex-direction: column;

      justify-content: space-between;
      align-items: start;
    
    }
  }  